// $header-color: red;

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background: rgb(235, 235, 235);
  color: rgb(42, 43, 44);
  min-height: 100vh;
}

.header {
  // background: $header-color;

  h1 {
    font-style: italic;
    font-weight: 300;
    font-size: 2rem;
  }
}

.section {
  padding: 1rem;
}

/**
 * NAVIGATION
 */

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    color: rgb(75, 75, 75);
    padding: 1rem;
    text-decoration: none;

    &:hover {
      // background: darken($header-color, 2%);
    }
  }

  &__section {
    display: flex;
    flex-direction: column;

    &:last-of-type {
      margin-top: 2rem;
    }
  }
}
